#pragma once

// Credenciales WiFi
#define WIFI_SSID      "MyWifi"
#define WIFI_PASSWORD  "MYPASS"
#define WIFI_HOSTNAME  "MyESP"
#define OTA_USER      "MyOTAUser"
#define OTA_PASS      "MyOTAPASS,."
